---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$em-base: 18px;
@import '../bourbon/_bourbon';

// Spacing
$modular-scale-ratio: $major-third;
$spacing-unit: 1em;
$wrapper-width: em(1000);



// Fonts
$base-font-family: "nimbus-sans",sans-serif;
$base-font-style: normal;
$base-font-weight: 400;

$header-font-family: "nimbus-sans-condensed", sans-serif;
$header-font-style: normal;
$header-font-weight: 700;

@mixin font-and-line ($scale-number, $line-height: 1) {
    $modular-scale: modular-scale($scale-number);
    font-size: $modular-scale;
    line-height: 1;
}



// Colors

$red: #c52033;
$gray: #666;
$silver: #e5e5e5;

$primary-color: $red;
$primary-color-darker: darken($red, 10%);
$secondary-color: $gray;
$tertiary-color: $silver;
$shadow: rgba(black, 0.2);

@import "reset";

%base-font {
    // font-family: $base-font-family;
    // font-style: $base-font-style;
    // font-weight: $base-font-weight; 
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: 400;
}

%pull-quote-font {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: 400;
}

%header-font {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    text-transform: uppercase;
}

%clearfix {
  @include clearfix;
}

body {
    background-color: $tertiary-color;
    @extend %base-font;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: $em-base;
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover, &:focus {
        color: $primary-color-darker;
    }
}

strong, b {
    font-weight: 700;
}

// hiding elements for screen reader usage only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.container {
    max-width: em(1400);
    margin: 0 auto;
    //border: 1px solid $shadow;
    //border-width: 0 1px 1px 1px;
    box-shadow: 0 0 1px 0px $shadow;
    background-color: white;
}

%header-style {
    @extend %header-font;
    padding-bottom: $spacing-unit/2;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit/2;
}

.page-header {
    @extend %header-style;
    color: $primary-color;
    @include font-and-line(3, 0.5);
    border-bottom: 4px solid $shadow;
}

.page-subheader {
    @extend %header-style;
    color: $secondary-color;
    @include font-and-line(2, 0.5);
    border-bottom: 1px dashed $secondary-color;
}

.site-header {
    background-color: white;
    box-shadow: 0 0 1px 0 $shadow;
    //border-bottom: 1px solid $shadow;
    > .wrapper {
        position: relative;
    }
}

$site-logo-width: em(200px);

.site-title {
    display: inline-block;
    position: absolute;
    left: $spacing-unit;
    top: 0;
    width: $site-logo-width;
    height: em(220px);
    background: white url('../images/Cahaba-Pressure-Logo-2-Color-Large-with-Treated-Forest-Products.png') center center no-repeat;
    background-size: 100%;
    @include border-bottom-radius(5px);
    box-shadow: 1px 1px 10px 0px rgba(black,0.33);
}

.site-nav-primary {
    @extend %clearfix;
    margin-left: $spacing-unit+$site-logo-width;
    //background-color: $primary-color;
    //color: white;
    > li {
        float: left;
        display: inline-block;
    }
}



.site-nav-link {
    @extend %header-font;
    display: inline-block;
    padding: ($spacing-unit/2);
    color: $secondary-color;
    text-decoration: none;
    font-size: modular-scale(2);
    text-transform: uppercase;
    @include transition(color 200ms linear);
    &:hover, &:focus {
        color: $primary-color;
        //background-color: $shadow;
    }
}

.wrapper {
    @extend %clearfix;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    max-width: $wrapper-width;
    margin-left: auto;
    margin-right: auto;
}

.page-content p {
    font-size: modular-scale(0);
    line-height: modular-scale(1)*1.2; 
}

.page-content .page-header + p {
    @extend %pull-quote-font;
    font-size: modular-scale(1);
    line-height: modular-scale(1)*1.2;
}

.page {
    &.with-sidebar {
        > .page-content {
            padding-right: $spacing-unit;
        }
        $sidebar-width: 33%;
        float: left;
        width: (100% - $sidebar-width);
        & + .sidebar {
            float: right;
            width: $sidebar-width;
        }
    }
}

.site-footer > .wrapper > p {
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    border-top: 1px dashed $secondary-color; 
}

.hero {
    background: $secondary-color url('../images/slider01.jpg') center top no-repeat;
    background-size: cover;
    min-height: em(480);
}


