<header role="banner" class="site-header">

  <div class="wrapper">
    <nav role="navigation" class="site-nav">
      <a class="site-title" href="{{ site.baseurl }}/index2.html">{{ site.title }}</a>
      <ul class="site-nav-primary" role="menu">
        <li role="presentation">
          <a role="menuitem" class="site-nav-link" href="/index2.html">Home</a>
        </li>
        <li role="presentation">
          <a role="menuitem" class="site-nav-link" href="/about/">About Us</a>
        </li>
        <li role="presentation">
          <a role="menuitem" class="site-nav-link" href="/products/">Products</a>
        </li>
        <li role="presentation">
          <a role="menuitem" class="site-nav-link" href="/services/">Services</a>
        </li>
        <li role="presentation">
          <a role="menuitem" class="site-nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </nav>

  </div>

</header>
