<ul class="menu">
  <li>
  	<a href="{{ '/products/poles/' | prepend: site.baseurl }}">
  		{% if include.withpic %}
		<img src="{{'/images/poles.jpg' | prepend: site.baseurl }}" alt="">
  		{% endif %}
  		Poles
  	</a>
  </li>
  <li>
  	<a href="{{ '/products/piling/' | prepend: site.baseurl }}">
  		{% if include.withpic %}
		<img src="{{'/images/piling.jpg' | prepend: site.baseurl }}" alt="">
  		{% endif %}
  		Piling
  	</a>
  </li>
  <li>
  	<a href="{{ '/products/crossties/' | prepend: site.baseurl }}">
  		{% if include.withpic %}
		<img src="{{'/images/crossties.jpg' | prepend: site.baseurl }}" alt="">
  		{% endif %}
  		Crossties
  	</a>
  </li>
  <li>
  	<a href="{{ '/products/agriculture-products/' | prepend: site.baseurl }}">
  		{% if include.withpic %}
		<img src="{{'/images/posts.jpg' | prepend: site.baseurl }}" alt="">
  		{% endif %}
  		Agriculture Products
  	</a>
  </li>
  <li>
  	<a href="{{ '/products/bio-mass/' | prepend: site.baseurl }}">
  		{% if include.withpic %}
		<img src="{{'/images/bio-mass.jpg' | prepend: site.baseurl }}" alt="">
  		{% endif %}
  		Bio Mass
  	</a>
  </li>
  <li>
  	<a href="{{ '/products/custom-treating-services/' | prepend: site.baseurl }}">
  		{% if include.withpic %}
		<img src="{{'/images/custom-treating-services.jpg' | prepend: site.baseurl }}" alt="">
  		{% endif %}
  		Custom Treating Services
  	</a>
  </li>
</ul>