<ul class="menu">
  <li>
    <a href="{{'/services/logistics/' | prepend: site.baseurl }}">
      {% if include.withpic %}
      <img src="{{'/images/logistics.jpg' | prepend: site.baseurl }}" alt="">
      {% endif %}
      Logistics
    </a>
  </li>
  <li>
    <a href="{{'/services/service-area/' | prepend: site.baseurl }}">
      {% if include.withpic %}
      <img src="{{'/images/service-area.jpg' | prepend: site.baseurl }}" alt="">
      {% endif %}
      Service Area
    </a>
  </li>
  <li>
    <a href="{{'/services/build-a-truck/' | prepend: site.baseurl }}">
      {% if include.withpic %}
      <img src="{{'/images/build-a-truck.jpg' | prepend: site.baseurl }}" alt="">
      {% endif %}
      Build-a-Truck
    </a>
  </li>
</ul>