---
layout: default
---
<div class="page with-sidebar">
  <article class="page-content">
  	{% if page.title %}<h1 class="page-header">{{ page.title }}</h1>{% endif %}
    {{ content }}
  </article>
</div>
<aside class="sidebar">
	<div class="sidebar-container">
		<h2 class="page-subheader">Mailing Address</h2>
		<p>P.O. Box 160<br>
		Brierfield, AL 35035</p>
		<h2 class="page-subheader">Office</h2>
		<strong>Phone</strong>
		<p>205-926-9888</p>
		<strong>Fax</strong>
		<p>205-926-7625</p>
		<h2 class="page-subheader">Scale House</h2>
		<strong>Phone</strong>
		<p>205-926-6866</p>
		<strong>Fax</strong>
		<p>205-926-6836</p>
	</div>
</aside>